
.container-profile{
    padding: 15px;
    margin-top: 10px;
    margin-left: 10px;
}

.container-profile h1{
    color: #252523;
    padding: 5px;
}

.container-profile h2,h3,h4,label{
    color: #41413c;
    text-align: justify;
}

.container-profile label{
    font-size: 16px;
    font-weight: bold;
}
.container-profile input {
    margin-bottom: 10px;
}
.container-profile #img_profile {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.tab{
    margin-top: 25px;
    font-size: 10px;
    text-align: center;
    height:100px;
    width:100%;
    bottom:15%;
}

.button {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  position: relative;
  margin-top: 15px;
  }
