.container-products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    margin: 1em;
}

.container-products .card-product{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.card-product .img-product img{
    max-width: 100%;
    border-radius: 5px;
}
.card-product .content-product {
    position: absolute;
    border: 2px solid #A9B2AC;
    padding: 5px;
}

.card-product .content-product span {
    letter-spacing: 2px;
    font-size: 15px;
    color: black;
}

.card-product .content-product:hover {
    padding: 5px;
    font-weight: bold;
    background-color: #A9B2AC;
}

