
.container-profile{
    padding: 15px;
    margin-top: 10px;
    margin-left: 10px;
}

.container-profile h1{
    color: #252523;
    padding: 5px;
}

.container-profile h2,h3,h4,p{
    color: #41413c;
    text-align: justify;
    padding: 8px;
}

.container-profile h3{
    font-size: 16px;
}

.container-profile p{
border: 2px solid rgba(169, 178, 172, 0.67);
}

.form-group {
    float:left;
    width:900px;

}

.photo{ 
    float:right;
    width:450px;
}

.tab{
    margin-top: 25px;
    font-size: 10px;
    text-align: center;
    height:100px;
    width:100%;
    bottom:15%;
}

.button {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  position: relative;
  margin-top: 15px;
  }